<br>
<br>
<% @tasks.each_slice(3) do |three_tasks| %>
  <div class="card-deck">
    <% three_tasks.each do |task| %>
      <div class="card border border-primary">
        <img src="<%= task.photo %>" class="card-img-top" alt="Task Image">
        <div class="card-body">
          <h5 class="card-title"><%= task.name %></h5>
          <div class="container">
            <% if (user_signed_in?) %>
              <%= link_to 'Listo', todo_path(todo), class: 'badge badge-success' %>
              <%= link_to 'Ver la tarea', task, class: 'btn btn-primary btn-sm' %>
            <% else %>
              <%= link_to 'Ver la tarea', task, class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>
  <br>
<% end %>
